html {
  font-family: "Helvetica Neue", Arial, serif;
  overflow: hidden;
}

body {
  padding: 1em;
  overflow: hidden;
  margin: 0;
}

.options-label {
  display: block;
  text-align: right;
  max-width: 20em;
}

.options-label + .options-label {
  margin-top: 0.5em;
}

.options-label input {
  margin-left: 0.5em;
}